@using Blazored.Diagrams.Services.Diagrams
<div class="@GetClass()">
    @if (Content is not null)
    {
        @Content
    }
</div>

@code {
    [CascadingParameter] public required IDiagramService DiagramService { get; init; }
    [Parameter] public required Port Port { get; init; }

    /// <summary>
    /// Optional content if people want to use the default component.
    /// </summary>
    [Parameter]
    public RenderFragment? Content { get; set; }

    private const string DefaultCssClass = "default-port";

    private string GetClass()
    {
        return $"{DefaultCssClass}{(Port.HasLinks? " linked": string.Empty)}";
    }

}